/* - - - - - GLOBAL VARIABLES - - - - - */
:root {
  --header-ht: 56px;
  --header-pd: 8px 16px;
  --main-ht: calc(100vh - var(--header-ht));
  --main-child-pd: 32px;
}

/* - - - - - GENERAL STYLES - - - - - */
body {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}

/* - - - - - HEADER STYLES - - - - - */
.page-header {
  height: var(--header-ht);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: var(--header-pd);
}

.page-header .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-header .header-logo span:nth-child(1) {
  letter-spacing: 10px;
}

.page-header .header-logo span:nth-child(2) {
  font-size: 14px;
}

.page-header .header-spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* - - - - - MAIN STYLES - - - - - */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: var(--main-ht);
  background-color: lightgrey;
}

main .copy-area {
  padding: var(--main-child-pd);
  text-align: center;
}

main .benefits-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: var(--main-child-pd);
}

main .benefits-area .benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .benefits-area .benefit .benefit-icon {
  width: 40px;
  height: 40px;
  margin: 8px;
  background: transparent center center no-repeat;
  background-image: url("./../assets/icons/icon_bolt.png");
  background-size: 40px 40px;
}

main .benefits-area .benefit:nth-of-type(2) .benefit-icon {
  background-image: url("./../assets/icons/icon_quadrants.png");
}

main .benefits-area .benefit:nth-of-type(3) .benefit-icon {
  background-image: url("./../assets/icons/icon_headset.png");
}

main .form-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: calc(var(--main-child-pd) * 2);
}

main .form-area .form-cta-button {
  width: 200px;
  padding: 12px;
  font-size: 16px;
  letter-spacing: 2px;
}

main .form-area .form-privacy-notice {
  margin: 5px auto;
}

main .famous-clients-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: var(--main-child-pd);
}

main .famous-clients-area .famous-client {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: transparent center center no-repeat;
  background-image: url("./../assets/logos/logo-horse.jpg");
  background-size: 80px 80px;
}

main .famous-clients-area .famous-client:nth-of-type(2) {
  background-image: url("./../assets/logos/logo-j-company.jpg");
}

main .famous-clients-area .famous-client:nth-of-type(3) {
  background-image: url("./../assets/logos//logo-w-company.jpg");
}
/*# sourceMappingURL=style.css.map */