/* - - - - - GLOBAL VARIABLES - - - - - */
:root {
  --header-ht: 56px;
  --header-pd: 8px 16px;
  --header-bgc: #2c3e50;
  --main-ht: calc(100vh - var(--header-ht));
  --main-child-pd: 1rem;
  --copy-area-text-color: #6a6a6a;
  --copy-area-bgc: #dcdcdc;
  --copy-area-bg-image-legacy: #757f9a; /* fallback for old browsers */
  --copy-area-bg-image-webkit: -webkit-linear-gradient(
      rgba(255, 192, 203, 0.8),
      45%,
      #ebeff2
    ),
    url("./../assets/images/img-chess-checkmate.jpg"); /* Chrome 10-25, Safari 5.1-6 */
  --copy-area-bg-image: linear-gradient(rgba(255, 192, 203, 0.8), 45%, #ebeff2),
    url("./../assets/images/img-chess-checkmate.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 
  26+, Opera 12+, Safari 7+ */
  --benefits-area-bgc: #ecf0f1;
  --benefits-area-bg-image: ; // Null
  --form-area-bgc: #ecf0f1;
  --form-cta-button-bgc: royalblue;
  --form-cta-button-color: white;
  --form-area-bg-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
  --famous-clients-area-bgc: #2c3e50;
}

/* - - - - - GENERAL STYLES - - - - - */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  li {
    list-style: none;
  }
}

/* - - - - - HEADER STYLES - - - - - */
.page-header {
  height: var(--header-ht);
  // outline: 2px lime dashed;
  display: flex;
  padding: var(--header-pd);
  background: var(--header-bgc);
  color: whitesmoke;
  .header-logo {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    span:nth-child(1) {
      letter-spacing: 10px;
    }
    span:nth-child(2) {
      font-size: 14px;
    }
  }

  .header-spacer {
    flex: 1;
  }
}

/* - - - - - MAIN STYLES - - - - - */
main {
  display: flex;
  flex-direction: column;
  height: var(--main-ht);
  background-color: lightgrey;
  // outline: 2px salmon dotted;
  & > div {
    padding: var(--main-child-pd);
    background: center center no-repeat;
    background-size: cover;
  }
  .copy-area {
    flex: 1;
    order: 1;
    background-image: var(--copy-area-bg-image);
    text-align: center;
    color: var(--copy-area-text-color);
    h1 {
      font-size: 2.5em;
      letter-spacing: 0.3em;
    }
    h2 {
      // font-size: 2em;
    }
    // outline: 1px orange dashed;
  }

  .benefits-area {
    display: flex;
    order: 3;
    justify-content: space-evenly;
    background-color: var(--benefits-area-bgc);
    background-image: var(--benefits-area-bg-image),
      linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    // outline: orchid 1px dashed;
    .benefit {
      display: flex;
      flex-direction: column;
      .benefit-icon {
        width: 40px;
        height: 40px;
        margin: auto;
        background: transparent center center no-repeat;
        background-image: url("./../assets/icons/icon_bolt.png");
        background-size: 40px 40px;
        // outline: 1px dashed peru;
      }
    }
    .benefit:nth-of-type(2) .benefit-icon {
      background-image: url("./../assets/icons/icon_quadrants.png");
    }
    .benefit:nth-of-type(3) .benefit-icon {
      background-image: url("./../assets/icons/icon_headset.png");
    }
    .benefit-section {
      text-align: center;
    }
    @media screen and (max-width: 600px) {
      & {
        .benefit .benefit-icon {
          background-size: 30px 30px;
        }
      }
    }
    @media screen and (max-width: 400px) {
      & {
        flex-direction: column;
        align-items: center;
        .benefit-section ul {
          display: none;
        }
      }
    }
  }

  .form-area {
    display: flex;
    order: 2;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--form-area-bgc);
    // background-image: var(--form-area-bg-image);
    padding: calc(var(--main-child-pd) * 1.5);
    // outline: 1px dashed royalblue;
    .form-cta-button {
      width: 200px;
      padding: 12px;
      font-size: 16px;
      letter-spacing: 2px;
      background-color: var(--form-cta-button-bgc);
      color: var(--form-cta-button-color);
    }
    .form-privacy-notice {
      margin: 5px auto;
    }
  }

  .famous-clients-area {
    // outline: rosybrown 1px dotted;
    display: flex;
    order: 4;
    justify-content: space-evenly;
    background-color: var(--famous-clients-area-bgc);
    padding: var(--main-child-pd);
    .famous-client {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: transparent center center no-repeat;
      background-image: url("./../assets/logos/logo-horse.jpg");
      background-size: 40px 40px;
      // outline: 1px dashed peru;
    }
    .famous-client:nth-of-type(2) {
      background-image: url("./../assets/logos/logo-j-company.jpg");
    }
    .famous-client:nth-of-type(3) {
      background-image: url("./../assets/logos/logo-w-company.jpg");
    }
    .famous-client:nth-of-type(4) {
      background-image: url("./../assets/logos/logo-rocket-ship.jpg");
    }

    @media screen and (max-width: 400px) {
      & {
        display: none;
      }
    }
  }
}
