/* - - - - - GLOBAL VARIABLES - - - - - */
:root {
  --header-ht: 56px;
  --header-pd: 8px 16px;
  --main-ht: calc(100vh - var(--header-ht));
  --main-child-pd: 1rem;
  --copy-area-bgc: #dcdcdc;
  --copy-area-bg-image: url("./../assets/images/img-c-shape-tower.jpg");
  --benefits-area-bgc: #dcdcdc;
  --benefits-area-bg-image: ;
  --form-area-bgc: lightgrey;
  --form-cta-button-bgc: #faebd7;
  --form-area-bg-image: url("./../assets/images/");
  --famous-clients-area-bgc: #dcdcdc;
}

/* - - - - - GENERAL STYLES - - - - - */
body {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}

/* - - - - - HEADER STYLES - - - - - */
.page-header {
  height: var(--header-ht);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: var(--header-pd);
}

.page-header .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-header .header-logo span:nth-child(1) {
  letter-spacing: 10px;
}

.page-header .header-logo span:nth-child(2) {
  font-size: 14px;
}

.page-header .header-spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* - - - - - MAIN STYLES - - - - - */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: var(--main-ht);
  background-color: lightgrey;
}

main > div {
  padding: var(--main-child-pd);
  background: center center no-repeat;
  background-size: cover;
}

main .copy-area {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: var(--copy-area-bgc);
  background-image: var(--copy-area-bg-image), -webkit-gradient(linear, left top, left bottom, from(black), to(black));
  background-image: var(--copy-area-bg-image), linear-gradient(black, black);
  text-align: center;
  color: white;
}

main .benefits-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: var(--benefits-area-bgc);
  background-image: var(--benefits-area-bg-image), -webkit-gradient(linear, left top, left bottom, from(black), to(black));
  background-image: var(--benefits-area-bg-image), linear-gradient(black, black);
}

main .benefits-area .benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .benefits-area .benefit .benefit-icon {
  width: 40px;
  height: 40px;
  margin: 8px;
  background: transparent center center no-repeat;
  background-image: url("./../assets/icons/icon_bolt.png");
  background-size: 40px 40px;
}

main .benefits-area .benefit:nth-of-type(2) .benefit-icon {
  background-image: url("./../assets/icons/icon_quadrants.png");
}

main .benefits-area .benefit:nth-of-type(3) .benefit-icon {
  background-image: url("./../assets/icons/icon_headset.png");
}

@media screen and (max-width: 600px) {
  main .benefits-area .benefit .benefit-icon {
    background-size: 30px 30px;
  }
}

@media screen and (max-width: 400px) {
  main .benefits-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .benefits-area .benefit-section ul {
    display: none;
  }
}

main .form-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--form-area-bgc);
  background-image: var(--form-area-bg-image);
  padding: calc(var(--main-child-pd) * 1.5);
}

main .form-area .form-cta-button {
  width: 200px;
  padding: 12px;
  font-size: 16px;
  letter-spacing: 2px;
  background-color: var(--form-cta-button-bgc);
}

main .form-area .form-privacy-notice {
  margin: 5px auto;
}

main .famous-clients-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: var(--famous-clients-area-bgc);
  padding: var(--main-child-pd);
}

main .famous-clients-area .famous-client {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent center center no-repeat;
  background-image: url("./../assets/logos/logo-horse.jpg");
  background-size: 40px 40px;
}

main .famous-clients-area .famous-client:nth-of-type(2) {
  background-image: url("./../assets/logos/logo-j-company.jpg");
}

main .famous-clients-area .famous-client:nth-of-type(3) {
  background-image: url("./../assets/logos/logo-w-company.jpg");
}

main .famous-clients-area .famous-client:nth-of-type(4) {
  background-image: url("./../assets/logos/logo-rocket-ship.jpg");
}

@media screen and (max-width: 400px) {
  main .famous-clients-area {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */